.help .container {
  padding: 80px 127px 100px;
}
.help h3 {
  text-align: center;

  color: #545454;
}
.help-list h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.help-list {
  text-align: center;
  width: 1029px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  gap: 55px 120px;
}
.list_item {
  height: 113px;
}
.list_item img {
  padding-bottom: 25px;
}
.list_item:nth-child(6) img,
.list_item:nth-child(8) img {
  padding-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .help .container {
    padding: 80px 70px 100px;
  }
  .help-list {
    gap: 55px 60px;
    margin-left: -12px;

    align-items: center;
    height: 510px;
    width: 651px;
  }
  .list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 170px;
  }
  .list_item img {
    padding-bottom: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .help .container {
    padding: 42px 10px;
  }
  .help-list {
    width: 290px;
    gap: 0 30px;
    justify-content: start;
    padding-top: 42px;
    margin-left: 5px;
  }

  .list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 130px;
  }

  .list_item h4 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;

    text-align: center;
    letter-spacing: 0.06em;
  }
  .list_item img {
    padding-bottom: 20px;
    width: 50px;
  }
  .list_item:nth-child(4) img {
    padding-bottom: 24px;
  }

  .list_item:nth-child(7) img {
    padding-bottom: 30px;
  }
  .list_item:nth-child(8) img {
    padding-bottom: 35px;
  }

  .list_item:nth-child(1) img {
    width: 40px;
  }

  .list_item:nth-child(5) img {
    width: 26px;
    padding-bottom: 28px;
  }

  .list_item:nth-child(9) img {
    width: 47px;
    padding-bottom: 33px;
  }
}
