.donation {
  background-color: #f6f6f6;
}
.donation .container {
  padding: 80px 182px 100px 183px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.donation-descr {
  display: flex;
  flex-direction: column;

  gap: 20px;
  color: #545454;
}
.credit_card {
  display: flex;
  justify-content: space-between;
  background: #f1cdb3;
  border-radius: 9px;
  height: 43px;
  width: 349px;
  padding: 10px 15px;
}
.credit_card h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.donation-descr p {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
.donation-descr a {
  color: #545454;
}

@media (width: 768px) {
  .donation .container {
    padding: 80px 131px 100px 132px;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
  }
  .donation-dog {
    order: 2;
  }
  .donation-descr p {
    width: 380px;
  }
}
