@import url(./header.css);
@import url(./notOnly.css);
@import url(./about_pets.css);
@import url(./pets.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
.container {
  padding: 30px 40px 60px;
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
