@import url(./header.css);
@import url(./notOnly.css);
@import url(./about_pets.css);
@import url(./pets.css);
@import url(./help.css);
@import url(./donation.css);
@import url(./footer.css);
@import url(./pop-up.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100vh; */
}
a {
  text-decoration: none;
}
.container {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.8);
}
@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .container {
    width: 320px;
  }

  h3 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}
